* {
  margin: 0;
}

.top,
.middle,
.bottom {
  background-color: #332f2e;
}

.top {
  height: 112px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  flex-basis: 1;
}

.heading,
.gridOptions {
  height: 100%;
  padding-left: 72px;
}

.heading {
  color: wheat;
}

.middle {
  height: 600px;
  display: flex;
}

.sideBar {
  width: 56px;
  padding: 8px;
}

.button {
  background-color: #524b49;
  border-radius: 16px;
  height: 64px;
  margin: 8px;
}

.pencil,
.eraser {
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pencil img,
.eraser img {
  height: 100%;
  width: auto;
}

.pencil:hover,
.eraser:hover {
  filter: brightness(150%);
}

.container {
  width: 1000px;
  background-color: #8f8f8f;
  display: flex;
  justify-content: center;
}

.canvas {
  width: 600px;
  background-color: white;
}

.bottom {
  height: 32px;
}
