* {
  margin: 0;
}

.top,
.middle,
.bottom {
  background-color: #332f2e;
}

.top {
  height: 120px;
}

.middle {
  height: 600px;
  display: flex;
}

.sideBar {
  width: 56px;
}

.container {
  width: 1000px;
  background-color: #8f8f8f;
  display: flex;
  justify-content: center;
}

.canvas {
  width: 600px;
  background-color: white;
}

.bottom {
  height: 40px;
}
